@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,600;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: 'Andada Pro', serif;
    margin: 0;
}

.barra {
    width: 1000px;
    margin: 0 auto;
}

header {
    background: dimgray;
    width: 100%;
    clear: both;
    content: '';
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    width: 100%;
    text-align: center;
    color: floralwhite;
    margin: 50px;
}

h3 {
    text-align: left;
    color: floralwhite;
    margin: 10px;
}

.pelicula {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px black;
    background-color: darkgrey;
    position: relative;
    overflow: hidden;
}

.pelicula img {
    width: 100%;
}

.peli-info {
    color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
    letter-spacing: 0.5px;
}

.peli-info h3 {
    margin-top: 0;
}

.peli-info span {
    background-color: yellow;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    margin: 5px;
}

.peli-info span.valor {
    color: black;
}

.descripcion {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: floralwhite;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.pelicula:hover .descripcion {
    transform: translateY(0);
}


/*comienza el footer*/
footer {
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.Facebook img {
    width: 36px;
    height: 36px;
}

.twitter img {
    width: 36px;
    height: 36px;
}

.insta img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum2 {
    max-width: 400px;
}

.colum2 h1 {
    font-size: 22px;
}

.colum2 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.Casa img {
    width: 30px;
    height: 30px;
}

.Cel img {
    width: 30px;
    height: 30px;
}

.Correo img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .colum1 {
        max-width: 100%;
    }
    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}

#logo_cuevana {
    width: 100px;
    height: 100px;
    float: left;
    padding: 8px;
}

#logo_cuevana_footer {
    width: 100px;
    height: 100px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 15px 0;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: floralwhite;
    font-weight: bold;
    font-size: x-large;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: floralwhite;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.5s;
}

nav ul li a:hover::before {
    width: 100%;
}